
<section id="contact">
		<div class="text text-center"><br><br><br><br><br>
			<h1>Contact us</h1>
		</div><br><br>
			<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="plain-table">
		<div class="address-bar">
			<p><i class="fa fa-envelope" aria-hidden="true"> Example@exampleorg.com</i><br><br><i class="fa fa-mobile" aria-hidden="true"> Mobile n. +910000000000</i></p><br><br>
			<h1>Follow me</h1>
			<div class="icon-animation">
				<ul>
				<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
				</ul>		
			</div>
		</div><br><br><br><br><br><br><br>
						</div>
					</div>
					<div class="col-md-6">
						<div class="plain-table">
							<form>
	  <div class="form-row">
		<div class="form-group col-md-6">
		  <label for="inputnamel4"><i class="fa fa-user"> Name</i></label>
		  <input type="text" class="form-control" id="inputnamel4" placeholder="Name">
		</div>
		<div class="form-group col-md-6">
		  <label for="inputEmail4"><i class="fa fa-envelope" aria-hidden="true"> Email</i></label>
		  <input type="email" class="form-control" id="inputemail4" placeholder="Email">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputAddress"><i class="fa fa-map-marker" aria-hidden="true"> Address</i></label>
		<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
	  </div>
	  <div class="form-row">
		<div class="form-group col-md-6">
		  <label for="inputCity"><i class="fa fa-map-marker" aria-hidden="true"> City</i></label>
		  <input type="text" class="form-control" id="inputCity">
		</div>
		<div class="form-group col-md-4">
		  <label for="inputState"><i class="fa fa-map-marker" aria-hidden="true"> State</i></label>
		  <select id="inputState" class="form-control">
			<option selected>Choose...</option>
			<option value="1">ANDAMAN AND NICOBAR ISLANDS</option>
				  <option value="2">ANDHRA PRADESH</option>
				  <option value="3">ARUNACHAL PRADESH</option>
				  <option value="4">ASSAM</option>
				  <option value="5">BIHAR</option>
				  <option value="6">DADRA AND NAGAR HAVELI</option>
				  <option value="7">DAMAN AND DIU</option>
				  <option value="8">DELHI</option>
				  <option value="9">GOA</option>
				  <option value="10">GUJARAT</option>
				  <option value="11">HARYANA</option>
				  <option value="12">HIMACHAL PRADESH</option>
				  <option value="13">JAMMU AND KASHMIR</option>
				  <option value="14">KARNATAKA</option>
				  <option value="15">KERALA</option>
				  <option value="16">LAKHSWADEEP</option>
				  <option value="17">MADHYA PRADESH</option>
				  <option value="18">MAHARASHTRA</option>
				  <option value="19">MANIPUR</option>
				  <option value="20">MEGHALAYA</option>
				  <option value="21">MIZORAM</option>
				  <option value="22">NAGALAND</option>
				  <option value="23">ORISSA</option>
				  <option value="24">PONDICHERRY</option>
				  <option value="25">PUNJAB</option>
				  <option value="26">RAJASTHAN</option>
				  <option value="27">SIKKIM</option>
				  <option value="28">TAMILNADU</option>
				  <option value="29">TRIPURA</option>
				  <option value="30">UTTAR PRADESH</option>
				  <option value="31">WEST BENGAL</option>
				  <option value="32">CHHATISHGARH</option>
				  <option value="33">UTTRAKHAND</option>
				  <option value="34">JHARKHAND</option>
				  <option value="35">TELANGANA</option>
				  <option value="36">ADDRESS OF DEFENCE EMPLOYEES</option>
				  <option value="37">FOREIGN ADDRESS</option>
		  </select>
		</div>
		<div class="form-group col-md-2">
		  <label for="inputZip"><i class="fa fa-code" aria-hidden="true"> Zip</i></label>
		  <input type="text" class="form-control" id="inputZip">
		</div>
	  </div>
	  <button type="submit" class="btn btn-warning"><i class="fa fa-sign-in" aria-hidden="true"> Send</i></button>
	</form>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section><br><br><br><br><br>