<section id="Testimonial">
  <br><br><br><br><br><br>
  <h2 class="text text-center">MEET OUR TEAM </h2>
  <br><br>
<div class="container">
<div class="card-deck">
  <div class="row">
        <div class="card">
          <img src="../assets/images/girls.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Satendra singh</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
        </div>
        <div class="card">
          <img src="../assets/images/girls.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Satendra singh</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

          </div>
        </div>
        <div class="card">
          <img src="../assets/images/professional.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Satendra singh</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

          </div>
        </div>
        <div class="card">
            <img src="../assets/images/imag.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Satendra singh</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
              <img src="../assets/images/imag.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Satendra singh</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    
              </div>
            </div>
            <div class="card">
                <img src="../assets/images/down.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Satendra singh</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
                </div>
              </div>
              <div class="card">
                  <img src="../assets/images/team.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Satendra singh</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        
                  </div>
                </div>
                <div class="card">
                    <img src="../assets/images/girl.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          
                    </div>
                  </div>
                </div>
 </div>
</div>
</section>
