<div class="container">

<form [formGroup]="RegistrainForm" (ngSubmit)="showData()">
<div class="form-group">
<label>
First Name:
<input type="text" formControlName="firstName" required/>
</label>

<div *ngIf="RegistrainForm.controls.firstName.invalid 
&& RegistrainForm.controls.firstName.touched"
class="alert alert-warning">
<div *ngIf="RegistrainForm.controls.firstName.errors.required">
FirstName is required</div>
<div *ngIf="RegistrainForm.controls.firstName.errors.pattern">only alphabate allow</div>
<div *ngIf="RegistrainForm.controls.firstName.errors.minlength">
firstName must be at least 4 characters long.
</div>
</div>
</div>
<div class="form-group">
<label>
Last Name:
<input type="text" formControlName="lastName">
</label>

<div *ngIf="RegistrainForm.controls.lastName.invalid 
&& RegistrainForm.controls.lastName.touched" class="alert alert-warning">

<div *ngIf="RegistrainForm.controls.lastName.errors.required">lastName is required</div>
<div *ngIf="RegistrainForm.controls.lastName.errors.pattern">only alphabate allow</div>

</div>
</div>
<input type="submit" value="submit"/>
</form>
</div>